
body{
	background-color:transparent;
	background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
	width:80%;
	margin:auto;
}
nav ul,footer ul{
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding:0;
	list-style:none;
	font-weight:bold;
}
nav ul li,footer ul li{
	display:inline;
	margin-right:20px;
	
}
div {
	width:60%;
	margin-left:5em;
}
h2,p{
	color:#1414c0;
	text-align:leftwards;
	background-color:#FFFFFF;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin-left:0.5em;
}
h3{
	color:#1414c0;
	text-align:leftwards;
	background-color:white;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size:1.2em;
}
p{
	color:#296297;
	background-color:transparent;
	font-size:1.1em;
	line-height:1.2em;
}
table {
	border-collapse:collapse;
}
td {
	width:0.5em;
}
td#pcplay{
	color:#A9A9A9;
	text-align:center;
}
td#game {
	text-align:center;
	vertical-align:middle;
	background-color:white;
	width:2em;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: 1em;
    margin-top: 1em;
}

a {
    text-decoration: none;
    color:#1414c0;
}
a:hover {
    text-decoration: underline;
}
    
    
