
body{
	background-color:transparent;
	background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}
div {
	width:50%;
	margin-left:10em;
}
h2,p{
	color:orange;
	text-align:leftwards;
	background-color:#FFFFFF;
	font-family: "Times New Roman";
	margin-left:0.5em;
}
h3{
	color:orange;
	text-align:leftwards;
	background-color:white;
	font-family: "Times New Roman";
}
p{
	color:#296297;
	background-color:transparent;
}
table {
	border-collapse:collapse;
}
td {
	width:0.5em;
}
td#pcplay{
	color:#A9A9A9;
	text-align:center;
}
td#game {
	text-align:center;
	vertical-align:middle;
	background-color:white;
	width:2em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
    
    
